*.pyc
__pycache__
pseo-experiemnts/
*.swp
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
pseo-experiments/lib/python3.10/
pseo-experiments/bin/
blog_images/
blogs/
.env
papers_already_written_on.txt
lib/papers_to_write_on
workspace/
