*cpython*
*.cpython*
.DS_Store
.vscode
*.pyc
content_scheduler.db
*.db
.env
.env.local
.env.development.local
.env.test.local
pycache
__pycache__
*.pyc
gemini-native-image*
*.mp4
*.mp3
*.wav
*.avi
*.mov
*.flv
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzp
*.pywp
*.pywpz
*.pywpzp

lib/workspace/alwrity_web_research/*
lib/workspace/alwrity_web_research_cache/*
web_research_report*

.swp
.swo
.swn
.swnw
.swnwp
.swnwpz
.swnwpzp

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

.venv
*.cpython*
*.cpython-312.pyc

*venv
*.venv
*.venv*
*.venv_*
*.venv_*_*
*.venv_*_*_*
*.venv_*_*_*_*

website_analyzer.log

*venv
venv_new*
venv_*

AI-Writer_cursor_workspace.code-workspace
*.code-workspace
.cursorignore
lib/ai_writers/__pycache__/ai_agents_crew_writer.cpython-312.pyc
*cpython*
*.cpython*
.DS_Store
.vscode
*.pyc
.env
.env.local
.env.development.local
.env.test.local
pycache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzp
*.pywp
*.pywpz
*.pywpzp

lib/workspace/alwrity_web_research/*
lib/workspace/alwrity_web_research_cache/*
web_research_report*

.swp
.swo
.swn
.swnw
.swnwp
.swnwpz
.swnwpzp

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

.venv
*.cpython*
*.cpython-312.pyc

*venv
*.venv
*.venv*
*.venv_*
*.venv_*_*
*.venv_*_*_*
*.venv_*_*_*_*

*venv
venv_new*
venv_*

AI-Writer_cursor_workspace.code-workspace
*.code-workspace
.cursorignore
lib/ai_writers/__pycache__/*.pyc

lib/workspace/alwrity_content/*
