requests
typer[all]
rich
python-dotenv
loguru
openai
crewai[tools]
google.generativeai
mistralai
tenacity
tavily-python
tabulate
metaphor_python
exa_py
GoogleNews
langchain-google-genai
clint
scikit-learn
matplotlib
plotly
requests_html
pytrends
pytube
wordcloud
prompt_toolkit
ipython
html2image
lxml_html_clean
