requests
typer[all]
rich
python-dotenv
loguru
openai
google.generativeai
mistralai
tenacity
tavily-python
tabulate
metaphor_python
exa_py
GoogleNews
clint
scikit-learn
matplotlib
plotly
requests_html
pytrends
pytube
wordcloud
nltk
prompt_toolkit
ipython
html2image
lxml_html_clean
